/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Staatliches&display=swap');

body {
    font-family: Staatliches, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    --display-max-height: 100vh;
    --display-min-width: 100vw;
    --content-min-width: 600px;
    --content-optimal-width: 70vw;
    --content-horizontal-padding: 60px;
    --side-panel-max-width: 30vw;
    --side-panel-optimal-width: 30vw;
    --side-panel-min-width: 10vw;
    --header-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
    list-style: none;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    max-height: var(--display-max-height, 100vh);
    min-width: var(--display-min-width, 100vh);
}

.content {
    display: flex;
    flex-direction: column;
    width: max(var(--content-min-width, 600px), var(--content-optimal-width, 70vw));
    background-color: rgb(240, 243, 245);
}
.header-section {
    padding: 160px var(--content-horizontal-padding, 30px) 30px;
    font-family: var(--header-font-family);
    font-weight: bold;
    line-height: 1.2em;
}
.form-section {
    
}
.form-title {
    padding: 20px var(--content-horizontal-padding, 30px) 0px;
    font-family: var(--header-font-family);
    font-weight: bold;
    background-color: white;
}
.form-content-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 70px;
    padding: 30px var(--content-horizontal-padding, 30px) 44px;
    font-family: var(--header-font-family);
    font-weight: bold;
    background-color: white;
    box-shadow: 6px 6px 5px rgba(60, 60, 60, 0.3);
}
.form-content-inputs input {
    font-size: 0.6em;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #000;
    min-width: 80px;
    width: 220px;
    height: 20px;
}
.form-content .form-input-label {
    display: block;
    font-size: 0.5em;
    font-weight: bold;
    margin-bottom: -6px;
    letter-spacing: 0.08em;
    color: rgb(32, 32, 32);
}
.form-content button {
    color: rgb(235, 235, 235);
    background-color: #596D48;
    border: 0px;
    border-radius: 10px;
    font-size: 0.7em;
    font-weight: bold;
    padding: 18px 54px;
    margin: 50px var(--content-horizontal-padding, 30px) 50px;
    box-shadow: 4px 4px 5px rgba(60, 60, 60, 0.2);
}

.side-panel {
    width: clamp(var(--side-panel-min-width, 200px), var(--side-panel-optimal-width, 30vw), var(--side-panel-max-width, 400px));
    height: var(--display-max-height, 100vh);
    position: relative;
    background-image: url(./img/hamdhulla-shakeeb-seaside-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto clamp(600px, var(--display-max-height, 100vh), 100vh);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    top: 25vh;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}
.logo .company-name {
    text-align: center;
    font-size: 4em;
    color: rgb(226, 226, 226);
}
.logo img {
    width: 4em;
    padding: 20px 10px;
}
.credit {
    position: absolute;
    bottom: 0px;
    width: inherit;
    font-family: var(--header-font-family);
    text-align: center;
    font-size: 0.6em;
    color: rgb(226, 226, 226);
}